body {
    font-family: 'Roboto', sans-serif;
    /*font-family: 'monospace';*/
    color: #2a3338;
    line-height: 1.75em;
}

a:hover {
    text-decoration: none;
}

#skybin-logo {
    margin-right: 1em;
    margin-left: 3em;
}

#skybin-logo-text {
    width: 50%;
    margin-bottom: 1em;
}

/*#abstract-container, #download-container, #about-container {*/
    /*height: 15em;*/
    /*text-align: center !important;*/
/*}*/

#abstract-container {
    margin-top: 4em;
}

#download-buttons-container {
    margin-top: 2em;
}

#guide-link-container {
    margin-top: 2em;
}

.section-col {
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin-bottom: 4em;
    text-align: center !important;
    height: 100vh !important;
}

#download-container {
    padding-top: 2.5em;
}

#tutorial-video {
    width: 100%;
    height: 100%;
}

#intro-text {
    margin-bottom: 3em;
}

#movie-container {
    padding-top: 3em;
}

.def-text {
    text-decoration: underline;
    color: #2a3338;
}

.def-text:hover {
    text-decoration: underline;
    color: #2a3338;
}

#top-nav-link-container {
    margin-top: 2em;
}
